a
{
    color: yellow;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}

.msg
{
    background: rgba(44, 62, 80, 0.7);
    padding: 40px;
    height: 200px;
    margin-left: 180x;
    margin: 0 auto;
    margin-top: 120px;
    width: 240px;   
}