body
{
    background-color: grey;
}

.wrapper
{
	height: 1000px;
	background-color: grey;
}
.logo
{
    float: left;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.logo img
{
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    weight: 100px;
}

header
{
    height: 130px;
    width: 1400px;
    margin: auto;
    background-color: black;
}
/*nav
{
    float: right;
    word-spacing: 30px;
    padding: 20px;
}

nav li
{
    display: inline-block;
    line-height: 70px;
}*/

li a
{
    color: white;
    text-decoration: none;
}

section
{
    height: 550px;
    width: 1400px;
    margin: auto;
    background-color: grey;
    
}

.box
{
    height: 800px;
    width: 450px;
    background-color: black;
    opacity: .7;
    color: white;
    padding: 20px;
    margin: 70px auto;

}

form
{
   
    text-align: center;
    margin: 45px auto;
}

input
{
    height: 25px;
    width: 300px;
}


