body
{
    background-color: grey;
}

.wrapper
{
    height: 1000px;
    background-color: grey;
    margin: auto;
}

.logo
{
    float: left;
    padding-left: 20px;
}

.logo img
{
    padding-left: 30px;
    height: 100px;
    weight: 100px;
}

header
{
    height: 130px;
    width: 1400px;
    margin: auto;
    background-color: black;
}

section
{
    height: 550px;
    width: 1400px;
    margin: auto;
    background-color: grey;
    background-image: url("../images/1.jpg");
}

.box
{
    height: 300px;
    width: 450px;
    margin: 70px auto;
    opacity: .7;
}

footer
{
    height: 80px;
    width: 1400px;
    margin:auto;
    background-color:black;
}

li a
{
    color: white;
    text-decoration: none;
}

z  line-height: 70px;
}

input { 
	border: 1px solid #ccc 
}

form
{
    width: 240px;
    text-align: center;
}

/* a#currentTab {
    border-bottom:1px solid #fff;
}

a { color: black; text-decoration:none;
    padding:5px; border: 1px solid #aaa;
}

a:hover { background: #ccc } */

td { border: 1px solid #ccc; padding: 3px }
th { border: 1px solid #ccc; padding: 3px; 
    background: rgba(44, 62, 80, 0.7); color: white }

.navigator { 
	border-bottom:1px solid #aaa; 
	width:300px; 
	padding:5px
}
